@mixin links {
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 48px;
    padding-top: 15px;
    font-weight: bold;
font-size: 13px;
line-height: 18px;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
    background-color: #D87D4A;
}